.column{
  margin-top: 10vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;

}

.bl{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -1vh;
  max-width: 90%;
  height: auto;
  width: 50vw;
  border-radius: 20px;
  background: #e0e0e0;
  border: solid 1px black;

}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .bl{
    width: 100%;
  }
}
